<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">



<suite name="Suite" data-provider-thread-count="3">


    <listeners>
        <!--        <listener class-name="automation.wj4_briefcog_test.listeners.Listeners" />-->
    </listeners>


    <test name="Test">

        <classes>

            <class name="com.runner.TestRunner"/>
            <class name="com.runner.FailedTestRunner"/>
            <!-- <class name="runner.FailedTestRunner"></class>-->

        </classes>
    </test>
</suite>


